{% extends "layout.html" %} {% block body%} {% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />




<ul>
{% for item in users %}

<li>ID: {{item.userInfo.ID}} {{item.userInfo.first_name}} {{item.userInfo.last_name}} Elo:  {{item.UserStats.elo}}.


</li>
{% endfor %}
</ul>



<div class="form">

  <h1> Stats </h1>
<h3 style="color: red">{{message}}</h3>
<form action="" method="POST">
  {% csrf_token %}
  <p>{{form.user_id}} {{form.user_id.label}}</p>
  <p>{{form.elo}} {{form.elo.label}}</p>
  <p>{{form.points}} {{form.points.label}}</p>
  <p>{{form.wins}} {{form.wins.label}}</p>
  <p>{{form.losses}} {{form.losses.label}}</p>

  

  <br /><br />
  <input class="btn btn-primary" type="submit" value="Save" />
</form>
</div class="form">


<h1>Opdater rolle</h1>

<div class="form">


<h3 style="color: red">{{message}}</h3>
<form action="edit_role" method="POST">
  {% csrf_token %}

  <select name="user_id">
  {% for item in users %}


  <option value="{{ item.ID }}">{{item.ID}} {{ item.userInfo.first_name }} {{ item.userInfo.last_name }}</option>

  {% endfor %}

  </select>

  <select name="role_id">
  <option value="1">Almindelig</option>
  <option value="2">Admin</option>
  
  

  <input class="btn btn-primary" type="submit" value="Save" />
</form>
</div class="form">








{% endblock %}
